{% extends 'room/base.html' %} 
{% block content %}

<div class="row">
 
  {% for more_room in more_rooms %}
  <div class="col d-flex justify-content-center mb-2">
    <div class="card" style="width: 18rem">
      <img src="{{room.image}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">{{more_room.name}}</h2>
       
        <h5 class="card-text">Rooms: {{more_room.rooms}}</h5>
        <!-- <p class="card-text">Availability: {{room.is_available}}</p> -->
        <p class="card-text">Bedrooms: {{more_room.bedrooms}}</p>
        <p>R{{more_room.rent}}</p>
        
        <p>Located in {{more_room.location}}</p>
        <p>surrounding areas {{more_room.surrounding_surburb}}</p>
        <!-- <p>Garage :{{room.has_garage}}</p> -->
        <p>{{more_room.area}} sqrm</p>
        <a href="#" class="btn btn-outline-success">Book Room</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>




{% endblock %}