
{% extends "room/base.html"%}
{% block content %}
<div class="container">
<div class="form-add-property">
    <h1>Add your property to our database</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="form-control" name="images" multiple>
    <button class="btn btn-secondary">Upload</button>
</form>
</div>


<div class="room-div">
    {% for img in rooms %}
    <div class="card" >
        
        <h3>{{img.name}}</h3>
        <h2>R{{img.rent}}</h2>
        <p>{{img.description}}</p>
        <h3>{{img.type}}</h3>
        <img src="{{img.images.url}}" alt="Image"> 
        <a href="#" class="btn btn-success">Book</a> 
    </div>
    {%endfor%}
    <!-- {%for customer in customers %}
        <p>{{customer.customer_name}}</p>
        {% endfor %} -->
</div>
</div>

{%endblock%}